html
    head
        title= title
    body
        h1= message
        article
            header
                h2= name
            figure
                img= image
            p= text1
            p= text2

